/Football_Project_YOLO/yolov8x.pt
/Football_Project_YOLO/training/football_training.ipynb
/Football_Project_YOLO/output_videos/
/Football_Project_YOLO/input_videos/
/Football_Project_YOLO/models/
/Football_Project_YOLO/runs/